*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}
.nav-contenedor{
    display:grid;
    top:0;
    width:100%;
    position: fixed;
    z-index: 1;

   
}
.div-lista{
    width: 50%;
    height: 50%;
    margin-bottom: 0;
    text-align: center;
}

.navegacion{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0; 
    
}


nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(71,70,70,1) 64%, rgba(91,91,91,1) 100%);
    box-shadow: 0 3px 5px rgba(0,0,0,0.1);
    box-sizing: border-box;
}
.flex-center{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: top;

}
#fondo_home{
    padding-top: 7%;
    width: 100%;
    height: 800px;
    background: #81ecec;
    background-size: cover;
    background-position: center;
    display: inline-block;

}

.titulo_home{
    size: 90px;
    color: rgb(255, 34, 0);
    position: top;
    bottom: 90%;
    
}
#fondo_productos{
    width: 100%;
    height: 800px;
    background: #fd79a8;
    background-size: cover;
    background-position: center;
    padding: 10px;
    box-sizing: border-box;
}
.titulo_productos{
    size: 90px;
    color: rgb(255, 34, 0);
    position: top;
    bottom: 90%;
    justify-content: center;
    align-items: top;
}
#fondo_precios{
    width: 100%;
    height: 800px;
    background: #ffeaa7;
    background-size: cover;
    background-position: center;
    padding: 10px;   
}
#fondo_nosotros{
    width: 100%;
    height: 800px;
    background: #f49d3a;
    background-size: cover;
    background-position: center;
    padding: 10px;  
}
#fondo_contacto{
    width: 100%;
    height: 500px;
    background: #fd79a8;
    background-size: cover;
    background-position: center;
    padding: 10px;
    box-sizing: border-box;   
}
.titulo_seccion{
    text-align: center;
    align-items: center;
}

/*iconos del menu*/
.navbar-icon{
    width: 25px;
    height: 25px;
}
/*barra de navegacion*/
.div-nav h1{
    font-weight: bold;
    color:  #a7a5a5;
}
.navegacion{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;  
}
.nav-a{
    text-decoration: none;
    color: rgb(214, 210, 210);
    
}
.menu-hamburguesa{
    border-radius: 50px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
} 
.icon-menu-hamb{
    width: 40px;
    height: 40px;
}

/*contenedor de carts de productos*/
.contenedor-de-productos{
    display: flex;
    height: auto;
    justify-content: space-around;
}
.producto{
    max-width: 20%;
    padding: 10px;
    margin: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3);
    height: 40%;
}
.cart-img{
    height: 50%;
    width: 100%;
}
.btn-agregar{
    background-color: white;
    color: black;
    border: 2px solid #4CAF50; 
    transition-duration: 0.4s;
}
.btn-agregar:hover{
    background-color: #4CAF50; 
    color: white;
}
/*estilos para el modal del carrito de compras*/
.modal-carrito-contenedor{
    display: none;
    position: fixed;
    top: 0%;
    width: 90%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 10;
    opacity: 50;  
}
.modal-carrito{
    width: 60%;
    background-color: white;
    float: right;
    padding: 25px;
    max-width: 60%;
    max-height: 80%;
    margin-top: 8%;
    margin-right: 2%;
}
.carrito-contenedor{
    display:grid; 
}
.fila-carrito{
    padding: 5px;
    display: flex;
    justify-content: space-between;
    text-align:end;
}
/*Botones del carrito de compras*/
.cerrar-carrito{
    color: red;
    float: right;
    font-weight: bold;
    font-size: 25px;
}
.btn-carrito{
    border-radius: 50px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}
.btn-carrito span{
    color: #DFDBDB;
}
.btn-vaciar{
    background-color: white;
    color: black;
    border: 2px solid #008CBA; 
    transition-duration: 0.4s;
}
.btn-vaciar:hover{
    background-color: #008CBA; 
    color: white;
}
.btn-pagar{
    background-color: white;
    color: black;
    border: 2px solid #4CAF50; 
    transition-duration: 0.4s;
}
.btn-pagar:hover{
    background-color: #4CAF50; 
    color: white;
}
.btn-eliminar{
    background-color: white;
    color: black;
    border: 2px solid #f44336; 
    transition-duration: 0.4s; 
}
.btn-eliminar:hover{
    background-color: #f44336; 
    color: white;
}


/*estilos de carousel*/
.carousel-contenedor{
    width: 100%;
    max-width: 1400px;
    margin: auto;
   overflow: hidden;
    position: relative;
}

.carousel{
    display: flex;
    width: 400%;
    height: 600px;
    margin-left: -100%;
    
}
.seccion-carousel{
    width: 100%;
}

.img-carousel{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.btn-carousel{
    font-size: 30px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-weight: bold;
    font-family: monospace;
    position: absolute;
    color: #fff;
    box-shadow: 0 0 10px rgba(255, 555, 255, 0.5);
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    top: 40%;
}

.btn-carousel:hover{
    cursor: pointer;
    transform: scale(1.2,1.2);
}
.btn-derecho{
    right: 15px;
}
.btn-izquierdo{
    left: 15px;
}

/*estilos de formulario de contacto*/
.div-cont-form{
    margin: auto;
    padding: 10px;
    box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3);
}

/*estilos del footer*/

.iconos-redes{
    width: 40px;
    height: 40px;
}
.iconos-datos{
    width: 40px;
    height: 40px;
}
footer{
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(91,91,91,1) 100%); 
    color: rgb(209, 206, 206);
}
.contenedor-de-todo-los-elementos{
    width: 100%;
    max-width: 1400px;
    margin: auto;
    padding: 40px;
}
.contenedor-footer{ 
    display: flex;
    justify-content: space-between;
}
.columna-1{
    max-width: 400px;
}
.columna-1 h3{
    font-size: 22px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}
.columna-1 p{
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 0%;
}
.columna-2{
    max-width: 400px;
}
.columna-2 h3{
    font-size: 22px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}
.fila{
    margin-top: 20px;
    display: flex;
}
.fila p{
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 0%;
}
.columna-3{
    max-width: 400px;   
}
.columna-3 h3{
    font-size: 22px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}
.fila-2 {
    margin-top: 20px;
    display: flex;
}
.fila-2 p{
    max-width: 150px;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 0%;
}
.contenedor-pie{
    width: 100%;
    max-width: 1600px;
    background:  #000000;
    display: flex;   
}
.pie{
    width: 100%;
    max-width: 1400px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px;  
}
.pie p{
    margin-bottom: 0%;   
}
.mail{
    font-size: 11px;
}