*{
    margin: 0;
    padding: 0;
    
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: rgb(252, 249, 246);
    box-shadow: 0 3px 5px rgba(0,0,0,0.1);
}
.flex-center{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: top;

}
#fondo_home{
    width: 1300px;
    height: 800px;
    background: #81ecec;
    background-size: cover;
    background-position: center;
   

}

.titulo_home{
    size: 90px;
    color: rgb(255, 34, 0);
    position: top;
    bottom: 90%;
}
#fondo_productos{
    width: 1300px;
    height: 800px;
    background: #fd79a8;
    background-size: cover;
    background-position: center;
    padding: 10px;
}
.titulo_productos{
    size: 90px;
    color: rgb(255, 34, 0);
    position: top;
    bottom: 90%;
    justify-content: center;
    align-items: top;

}
#fondo_precios{
    width: 1300px;
    height: 800px;
    background: #ffeaa7;
    background-size: cover;
    background-position: center;
    padding: 10px;

}



/*iconos del menu*/
.navbar-icon{
    width: 20px;
    height: 20px;
}
/*barra de navegacion*/
.navegacion{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;  
}
.nav-link{
    text-decoration: none;
}
/*contenedor de carts de productos*/
.contenedor-de-productos{
    display: flex;
    height: auto;
    justify-content: space-around;
}
.producto{
    max-width: 20%;
    padding: 10px;
    margin: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3);
    height: 40%;
}
.cart-img{
    height: 50%;
    width: 100%;
}
/*estilos para el modal del carrito de compras*/
.modal-carrito-contenedor{
    display: none;
    position: fixed;
    top: 0%;
    width: 90%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 10;
    opacity: 50;  
}
.modal-carrito{
    width: 60%;
    background-color: white;
    float: right;
    padding: 25px;
    max-width: 60%;
    max-height: 80%;
    margin-top: 8%;
    margin-right: 2%;

}
/*boton cerrar carrito*/
.cerrar-carrito{
    color: red;
    float: right;
    font-weight: bold;
    font-size: 25px;

}

