*{
    margin: 0;
    padding: 0;
}
nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: rgb(252, 249, 246);
    box-shadow: 0 3px 5px rgba(0,0,0,0.1);
}
.flex-center{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: top;

}
#fondo_home{
    width: 1300px;
    height: 800px;
    background: #81ecec;
    background-size: cover;
    background-position: center;
   

}

.titulo_home{
    size: 90px;
    color: rgb(255, 34, 0);
    position: top;
    bottom: 90%;
}
#fondo_productos{
    width: 1300px;
    height: 800px;
    background: #fd79a8;
    background-size: cover;
    background-position: center;
}
.titulo_productos{
    size: 90px;
    color: rgb(255, 34, 0);
    position: top;
    bottom: 90%;
    justify-content: center;
    align-items: top;

}